<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,0},{132,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,0},{132,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,0},{132,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,229},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,229},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,97},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Windows_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,97},{505,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,120}}</string>
                <key>sourceSize</key>
                <string>{505,120}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,97},{84,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,124}}</string>
                <key>sourceSize</key>
                <string>{84,124}</string>
            </dict>
            <key>btn_exit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,589},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,589},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_exit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,589},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_home_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,409},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_home_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,409},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>btn_home_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,409},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>btn_level1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,953},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,589},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,953},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,953},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_level4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_okay_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,589},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_okay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,589},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_okay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,409},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_retry_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,229},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_retry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,229},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>btn_retry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,229},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>btn_setting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,229},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,229},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_setting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,409},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_shape_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_shape_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_shape_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,771},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>btn_start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,409},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,229},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,409},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>cut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,0},{34,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,57}}</string>
                <key>sourceSize</key>
                <string>{34,57}</string>
            </dict>
            <key>cut_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,0},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>cut_icon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,0},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>penBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{338,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,57}}</string>
                <key>sourceSize</key>
                <string>{338,57}</string>
            </dict>
            <key>penBlack_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,0},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>penBlack_icon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,0},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>penBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{338,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,57}}</string>
                <key>sourceSize</key>
                <string>{338,57}</string>
            </dict>
            <key>penBlue_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,0},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>penBlue_icon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,0},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>penRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{338,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,57}}</string>
                <key>sourceSize</key>
                <string>{338,57}</string>
            </dict>
            <key>penRed_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,0},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>penRed_icon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,0},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>windows1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,953},{620,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,425}}</string>
                <key>sourceSize</key>
                <string>{620,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box2d_bg_pic.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e5567444fe591ce50248cc0d228cef3:c9707c7cccceed51b4b23a9440fadd0c:6dc6bf691b6f2299e60e53739c313f6a$</string>
            <key>textureFileName</key>
            <string>box2d_bg_pic.png</string>
        </dict>
    </dict>
</plist>
