<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,107},{135,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,76}}</string>
                <key>sourceSize</key>
                <string>{135,76}</string>
            </dict>
            <key>Bush2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,107},{149,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,90}}</string>
                <key>sourceSize</key>
                <string>{149,90}</string>
            </dict>
            <key>Cactus.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>Crate.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Grass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,0},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>Grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,0},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>Stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{128,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,77}}</string>
                <key>sourceSize</key>
                <string>{128,77}</string>
            </dict>
            <key>StoneBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,0},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,102}</string>
            </dict>
            <key>chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,0},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>dust.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,0},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>gearwheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,107},{160,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>jeep.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,347},{338,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,138}}</string>
                <key>sourceSize</key>
                <string>{338,138}</string>
            </dict>
            <key>jeep_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,347},{338,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,166}}</string>
                <key>sourceSize</key>
                <string>{338,166}</string>
            </dict>
            <key>jeep_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,0},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>rect_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,0},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>seesaw.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,513},{549,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,86}}</string>
                <key>sourceSize</key>
                <string>{549,86}</string>
            </dict>
            <key>seesaw01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,599},{549,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,25}}</string>
                <key>sourceSize</key>
                <string>{549,25}</string>
            </dict>
            <key>seesaw02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,0},{24,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,86}}</string>
                <key>sourceSize</key>
                <string>{24,86}</string>
            </dict>
            <key>tri_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,107},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>wood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,268},{335,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,79}}</string>
                <key>sourceSize</key>
                <string>{335,79}</string>
            </dict>
            <key>wood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,268},{335,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,79}}</string>
                <key>sourceSize</key>
                <string>{335,79}</string>
            </dict>
            <key>wood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{335,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,79}}</string>
                <key>sourceSize</key>
                <string>{335,79}</string>
            </dict>
            <key>wood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,347},{335,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,79}}</string>
                <key>sourceSize</key>
                <string>{335,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box2d_pic.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:585dac710b442c6b04b0195657c35242:d1512af5a32c12d0344dbfecfb524ead:0c91c37610d9a18cb53750c2d23fe8b3$</string>
            <key>textureFileName</key>
            <string>box2d_pic.png</string>
        </dict>
    </dict>
</plist>
